.app {
  position: relative;
  display: grid;
  grid-template-areas:
    'header header header '
    'navBar app app '
    'navBar footer footer ';
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  min-height: 100%;

  .app-header {
    grid-area: header;
  }
  .app-nav {
    grid-area: navBar;
  }
  .app-container {
    grid-area: app;
    min-height: 100vh;
  }
  .footer {
    grid-area: footer;
  }

  // background-image: url('../img/bcg.jpg');
  background-image: url(~@/assets/img/bcg.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

@media screen and (max-width: $break-normal) {
  .app {
    .app-nav {
      display: none;
    }
  }
}
