@font-face {
  font-family: iconSolid;
  src: url(~@/assets/fonts/icons/fa-solid-900.ttf);
}
@font-face {
  font-family: iconRegular;
  src: url(~@/assets/fonts/icons/fa-regular-400.ttf);
}
@font-face {
  font-family: iconRegular;
  src: url(~@/assets/fonts/icons/fa-regular-400.ttf);
}
@font-face {
  font-family: iconTrello;
  src: url(~@/assets/fonts/icons/icomoon.ttf);
}
