// COLOR PALETTE
$clr1: #ce2e6c;
$clr3: #ffb5b5;
$clr2: #504658;
$clr4: #f0decb;
$clr5: #fff;
$clr6: #5e6c84;
$clr7: #172b4d;
$clr8: #091e4214;
$clr9: #42526e;
$clr10: #091e420a;

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 750px;
$break-wide: 960px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
